spring:
  application:
    name: configserver

  cloud:
    config:
      server:
        git:
          uri: https://github.com/pdheeraj99/spring-config-repo.git  # The location of the Git repository

  rabbitmq:  # RabbitMQ connection details - Publishing message to RabbitMq
    host: localhost
    username: admin
    password: admin

  output:
    ansi:
      enabled: always

server:
  port: 8888

management:
  endpoints:
    web:
      exposure:
        include: busrefresh
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411/api/v2/spans
