spring:
  application:
    name: payment-service-app

  config:
    import: configserver:http://localhost:8888  # Tell the client where to find the Config Server

  rabbitmq:  # RabbitMQ connection details - Listening message from RabbitMq
    host: localhost
    username: admin
    password: admin

  output:
    ansi:
      enabled: always

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/  # Eureka Server ekkada undo cheppadaniki

  instance:
    prefer-ip-address: true  # Register with IP address instead of hostname

# ============================================
# Resilience4j Circuit Breaker Configuration
# ============================================

resilience4j:
  circuitbreaker:
    instances:
      productServiceBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        slidingWindowType: COUNT_BASED
        recordExceptions:  # Record specific exceptions that should be counted as failures
          - org.springframework.web.client.ResourceAccessException
          - java.net.ConnectException
          - java.io.IOException

  timelimiter:  # Time Limiter Configuration (Optional - adds timeout protection)
    instances:
      productServiceBreaker:
        timeoutDuration: 5s
        cancelRunningFuture: true

management:  # Actuator endpoints to monitor circuit breaker health
  endpoints:
    web:
      exposure:
        include: health,info,circuitbreakers,circuitbreakerevents

  endpoint:
    health:
      show-details: always

  health:
    circuitbreakers:
      enabled: true

  # ----------------------------------------------------
  # DISTRIBUTED TRACING (ZIPKIN) CONFIGURATION
  # ----------------------------------------------------
  zipkin:
    tracing:
      # Mana Zipkin dashboard address
      endpoint: http://localhost:9411/api/v2/spans
  tracing:
    # Ee service nunchi vache prathi request ni trace cheyyadaniki
    sampling:
      probability: 1.0 # 1.0 ante 100% of requests ni trace cheyyi ani ardam

  metrics:
    tags:
      application: ${spring.application.name}  # Tag all metrics with service name
    distribution:
      percentiles-histogram:
        http.server.requests: true  # Generate histograms for request duration
  prometheus:
    metrics:
      export:
        enabled: true