@tailwind base;
@tailwind components;
@tailwind utilities;

/*@layer base {*/
/*  body {*/
/*    @apply bg-gray-50 text-gray-800;*/
/*  }*/
/*}*/

body {
    background: #fff;
    color: #292929;
    font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
}

/* Add Zomato-inspired theme overrides: */
a { color: #E23744; }
